*.java
*.class
*.tokens
!translator/Main.java
!translator/test/j2pyTests/test/Package0/*.java
!translator/test/j2pyTests/success/*.java
!translator/test/j2pyTests/selector/*.java
!translator/test/j2pyTests/*.java